@using Bitirme.Models
@model List<ToplamFaaliyetTutar>
@{
    ViewBag.Title = "FaaliyetToplam";
}
@{
    decimal result = 0;
}
@foreach (var item in Model)
{

    result = result + Convert.ToDecimal(item.toplam);

}

<table id="mytbl" class="table table-striped">
    <thead>
        <tr>

            <th scope="col">Faaliyet Ad</th>
            <th scope="col">Toplam</th>


        </tr>
    <tbody>




        @foreach (var item in Model)
        {
            var sayi = string.Format("{0:N2}", item.toplam);


            <tr>

                <td>@item.FaaliyetAd</td>
                <td>@sayi</td>


            </tr>



        }
       


        <tr>

            <th scope="row" class="alert-success">Toplam</th>
            <td class="alert-success">@string.Format("{0:N2}", result)</td>
        </tr>


    </tbody>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.js"></script>
<script>
    $('#mytbl').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }
    });

</script>


